@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Sans+Pro:300,400,600,700");

:root {
    --font-heading: "PT Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.5rem;
}

input,
button,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
}

button {
    color: inherit;
    background: transparent;
    border: none;
    cursor: pointer;
}

a {
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

/* COMMON */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    min-width: 66px;
    padding: 8px 17px;
    background: #783df0;
    color: #fff;
    text-transform: uppercase;
    border-radius: 99px;
    text-align: center;
}

/* .top-page */
.top-page {
    display: flex;
    min-height: 496px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../img/bg-banner.jpg) center / cover no-repeat;
}

.top-page .inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    min-height: 60px;
}

.header .logo {
    height: 34px;
}

.nav {
    display: flex;
}

.nav > li {
    position: relative;
}

.nav li:hover .sub-menu {
    opacity: 1;
    scale: 1;
}

.nav .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 220px;
    opacity: 0;
    scale: 1 0;
    transition: ease-in-out 0.4s;
    transition-property: opacity, scale;
    transform-origin: center top;
}

.nav .sub-menu li {
    background: #fff;
    transition: background ease-in-out 0.3s;
}

.nav .sub-menu li:hover {
    background: #b80257;
}

.nav .sub-menu a {
    display: block;
    font-size: 1.6rem;
    padding: 15px 25px 14px;
    color: rgba(0, 0, 0, 0.6);
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    translate: 0;
    transition: ease-in-out 0.3s;
    transition-property: translate;
}

.nav .sub-menu li:last-child a {
    border-bottom: none;
}

.nav .sub-menu a:hover {
    translate: 4px 0;
    color: #fff;
}

.nav > li > a {
    display: block;
    padding: 16px 25px;
    font-family: var(--font-heading);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.user-actions {
    position: relative;
    display: flex;
    align-items: center;
}

.user-actions .action-btn {
    color: #fff;
    padding: 14px;
    font-size: 16px;
}

.user-actions .search-form {
    position: absolute;
    top: 100%;
    right: 30px;
    padding: 5px;
    background: #fff;
    display: none;
}

.user-actions .user-checked-search:checked ~ .search-form {
    display: block;
}

.user-actions .search-form input {
    padding: 12px 49px 12px 10px;
    border: 1px solid #ececec;
    outline: none;
    color: rgba(0, 0, 0, 0.7);
}

.user-actions .search-form .search-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    background: #b80257;
    padding: 13px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    color: #fff;
}

.hero h1 {
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.breadcrumbs {
    display: flex;
    margin-top: 12px;
}

.breadcrumbs li {
    display: flex;
}

.breadcrumbs li + li::before {
    content: "/";
    padding: 0 10px;
}

.breadcrumbs li a {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
}

.breadcrumbs li:first-child a {
    transition: color ease-in-out 0.3s;
}

.breadcrumbs li:first-child a:hover {
    color: #783df0;
}

/* .main */
.main {
    margin-top: 110px;
    padding-bottom: 100px;
}

.row {
    display: flex;
}

.course-sidebar {
    width: 25%;
    padding: 0 15px;
}

.course-sidebar-search-form {
    position: relative;
}

.course-sidebar-search-form input {
    min-width: 270px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 20px;
    padding: 11px 40px 11px 20px;
    outline: 1px solid rgba(0, 0, 0, 0.09);
    color: rgba(0, 0, 0, 0.7);
}

.course-sidebar-list {
    margin-top: 30px;
}

.course-sidebar-list h4 {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}

.course-sidebar-list ul {
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.course-sidebar-list ul a {
    display: block;
    padding: 12px 25px;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    translate: 0;
    transition: ease-in-out 0.3s;
    transition-property: color, translate;
}

.course-sidebar-list ul a:hover {
    translate: 10px 0;
    color: #783df0;
}

.course-sidebar-list ul li:last-child a {
    border-bottom: none;
}

.course-sidebar .search-btn {
    position: absolute;
    font-size: 15px;
    top: 0;
    right: 8px;
    padding: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.featured-course {
    flex-grow: 1;
    padding: 0 15px;
}

.featured-course .course-menu {
    display: flex;
    gap: 21px;
    justify-content: center;
}

.featured-course .course-menu a {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 99px;
    min-width: 74px;
    text-align: center;
    background-color: transparent;
    transition: ease-in-out 0.3s;
    transition-property: background-color, color;
}

.featured-course .course-menu .active,
.featured-course .course-menu a:hover {
    color: #fff;
    background: #783df0;
}

.list-course {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 60px;
}

.course-item {
    position: relative;
    width: calc((100% / 3) - 20px);
}

.course-item:hover .thumb img {
    scale: 1.1;
    opacity: 0.8;
}

.course-item .thumb {
    position: relative;
    overflow: hidden;
    background-image: -webkit-linear-gradient(
        90deg,
        rgb(40, 172, 225) 12%,
        rgb(81, 204, 231) 50%,
        rgb(122, 235, 236) 91%
    );
}

.course-item .thumb img {
    display: block;
    width: 100%;
    height: 217px;
    object-fit: cover;

    scale: 1;
    opacity: 1;
    transition: ease-in-out 0.6s;
    transition-property: scale, opacity;
}

.course-item .thumb:hover img {
    cursor: pointer;
}

.course-item .thumb .flash-wrap {
    position: absolute;
    top: -55px;
    right: -77px;
    z-index: 99;
    width: 140px;
    height: 100px;
    padding: 73px 71px 10px 54px;
    font-size: 21px;
    color: #fff;
    background: #b80257;
    rotate: 35deg;
    cursor: pointer;
}

.course-item .body {
    padding: 15px 20px;
    border: 1px solid #eeeeee;
}

.course-item .body .title a {
    font-weight: 700;
    font-size: 1.8rem;
    color: #464646;
}

.course-item:hover .body .title a {
    color: #b80257;
}

.course-item .body .desc {
    margin-top: 20px;
    font-size: 1.5rem;
    line-height: 1.5;
}

.course-item .body .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.course-item .body .lecturer {
    display: flex;
    align-items: center;
}

.course-item .body .lecturer img {
    flex-shrink: 0;
    margin-right: 10px;
}

.course-item .body .lecturer span,
.course-item .body .user-icon {
    color: rgba(0, 0, 0, 0.6);
}

.course-item .body .user-icon {
    font-size: 13px;
    margin-right: 5px;
}

.course-item .body .price {
    font-weight: 700;
    background: #b80257;
}

.course-item-cta {
    position: relative;
    translate: 0;
    transition: translate ease-in-out 0.3s;
}

.course-item-cta:hover {
    translate: 0 -5px;
}

.course-item-cta::before {
    pointer-events: none;
    content: "";
    position: absolute;
    top: calc(100% + 8px);
    left: 5%;
    width: 90%;
    height: 10px;
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0) 80%
    );
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 0.3s;
    transition-property: opacity, visibility;
}

.course-item-cta:hover:before {
    opacity: 1;
    visibility: visible;
}

.course-pagination {
    display: flex;
    gap: 10px;
    margin-top: 75px;
}

.course-pagination li a {
    display: inline-block;
    padding: 7px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
    transition: ease-in-out 0.3s;
    transition-property: border, color;
}
.course-pagination li:last-child {
    margin-left: 10px;
}

.course-pagination li:last-child a {
    color: #fff;
}

.course-pagination li a:hover,
.course-pagination li .active {
    border: 1px solid #783df0;
    color: #783df0;
}

/* .footer */
.footer {
    background: #151515;
    padding: 80px 0 160px 0;
    color: rgba(255, 255, 255, 0.6);
}

.footer .row .column {
    width: 200px;
    padding: 0 15px;
}

.footer .row .column:first-child,
.footer .row .column:last-child {
    width: 300px;
}

.footer .column .logo {
    width: 165px;
    height: 33px;
    object-fit: cover;
}

.footer .column .desc {
    margin: 23px 0;
}

.footer .install-app {
    display: flex;
    gap: 22px;
    margin-top: 30px;
}

.footer .install-app img {
    width: 110px;
    height: 38px;
    object-fit: cover;
}

.footer .column .title {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin: 8px 0 25px 0;
}

.footer .column .item a {
    display: block;
    padding: 8px 0;
    transition: color ease-in-out 0.3s;
}

.footer .column .item a:hover {
    color: #b80257;
}

.footer .column input {
    width: 100%;
    margin: 25px 0 10px;
    padding: 10px 20px;
    background: #272727;
    border-radius: 99px;
    border: none;
    caret-color: #fff;
    outline: none;
    color: rgba(255, 255, 255, 0.6);
}

.footer-cta {
    position: relative;
    min-width: 95px;
    padding: 11px 0;
    overflow: hidden;
    background-color: #b80257;
}

.footer-cta::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: #fff;
    scale: 0;
    transition: scale ease-out 0.3s;
}

.footer-cta:hover:before {
    scale: 1;
}

.footer-cta span {
    position: relative;
    z-index: 1;
    transition: color ease-in-out 0.3s;
}

.footer-cta:hover span {
    color: #b80257;
}

.scroll-top {
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: #b80257;
    color: #fff;
}

/* outline-course.html */
.course-title {
    padding: 20px;
    font-weight: 600;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.course-title .highlight {
    color: transparent;
    background-color: #00f;
    background: linear-gradient(to right, #1e88c8, #60aed9);
    background-clip: text;
    -webkit-background-clip: text;
}

.outline-course {
    margin-top: 50px;
    width: 1100px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.outline-course .chapter {
    position: relative;
}

.outline-course .chapter-title-wrap {
    position: sticky;
    top: 0;
}

.outline-course .chapter-title {
    padding: 12px;
    font-weight: 600;
    font-size: 20px;
    background: #117db3;
    color: #fff;
    transition: background ease-out 0.3s;
}

.outline-course .chapter-title:hover {
    cursor: pointer;
    background: #1e86bb;
}

.chapter label:has(:checked) .open-chapter-icon {
    rotate: 180deg;
}

.chapter .open-chapter-icon {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 20px;
    color: #fff;
    rotate: 0;
    transition: rotate ease 0.3s;
}

.outline-course .lesson-wrap {
    display: none;
}

.chapter label:has(:checked) ~ .lesson-wrap {
    display: block;
}

.outline-course .lesson {
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
    font-weight: 400;
    font-size: 16px;
    color: #117db3;
    background: #fff;
    transition: ease 0.3s;
    transition-property: color, background;
}

.outline-course .lesson:last-child {
    border-bottom: none;
}

.outline-course .lesson:hover {
    cursor: pointer;
    background: #117db3;
    color: #fff;
}
